# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

checkstyle.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

windows
linux
target
logs
db
reports
dev
extras
.classpath
.settings
.project
test.php
makeqs.php
runqs.sh
