{#
Copyright 2018 Chris Kelly

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License
is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
or implied. See the License for the specific language governing permissions and limitations under
the License.
#}

<div class="helparea">
	<a class="hideshow" data-name-hide="Hide" data-name-show="Info" href="#">Info</a>
	<div class="helparea_content hideshowcontent">
		<p>
		This page shows how Twitter rearranges replies, hiding some of them.
		Each table below shows a tweet from @{{ initiating_user }} and noteworthy replies to that tweet.
		</p>

		<p>
		Each reply tweet was re-ranked by a formula designed to determine whether a reply is on-topic
		and good quality. (In this case, the re-ranking was done using the "{{ ranking_function_name }}"
		algorithm).
		</p>

		<p>
		Then, the revised ranking was compared with how Twitter ordered the tweet replies in the page.
		The revised ranking was used to select tweets that Twitter seems to have shown higher than they should have been.
		Those tweets are listed in the "Anomalous elevated tweets" section in each table.
		</p>

		<p>
		Likewise, the revised ranking was used to select tweets that Twitter seems to have shown lower than they should have been.
		Those tweets are in the "Anomalous suppressed/hidden tweets" section in each table.
		That section contains both tweet replies that were suppressed (shown lower than they should have been) and
		hidden.
		</p>

		<p>
		The "Other hidden tweets" in each table has additional hidden tweets, those that weren't ranked highly
		in the revised ranking.
		</p>

		<p>
		Note: a hidden tweet is one that's hidden behind the "Show more replies" link at the end of the reply page.
		Few probably click that link, and the account that was replied to might not see those hidden tweets
		on their "Notifications" page depending on their settings. 
		</p>

		<p>
		Hidden tweets are highlighted in light red. Each tweet is followed by three orders: the original order (as
		shown by Twitter), the rank order (as determined by the revised ranking; lower rankings are better),
		and the date order (earlier tweets have a lower order).
		</p>

		<p>
		Some tweets are put even lower down, into an "AbusiveQuality" section. Those are highlighted in light purple.
		</p>

		<p>
		Note that Twitter only shows around a maximum of 200 replies, even if there are hundreds more.
		For instance, assume that "Number of replies" is "194 of 1841 (reached end)", "Available" is 10%, and "Hidden" is 0%.
		That means the tweet was listed as having 1841 replies, but a maximum of 194 were retrieved: Twitter wouldn't show any more.
		The "reached end" means that the app scrolled until no more replies were available.
		The "Available" column has the percentage (in this case 194/1841 as a percentage ).
		In cases like this, the "Hidden" column isn't reliable because it wasn't possible to scroll the
		list of replies low enough to reach the hidden section.
		The closer the "Available" column is to 100%, the more reliable is the "Hidden" column.
		</p>
	</div>
</div>
